<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <title>helpme.webcam</title>

  <%= stylesheet_link_tag 'bootstrap.min',
      media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'bootstrap-theme.min',
      media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application',
      media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <%= javascript_include_tag 'application',
      'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery-1.11.1.min',
      'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap.min.js',
      'data-turbolinks-track' => true %>

  <div class='container'>
    <%= yield %>

    <footer>
    </footer>
  </div>
</body>
</html>
